body {
    padding: 0;
    margin: 0;
    background: #5407A1;
    color: #fff !important;
    font-family: 'Baloo Bhai', cursive;
    position: relative;
}


/* global */

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}


/* global */

.back_img {
    background-image: url(../img/back.png);
    height: 350px;
    width: 600px;
    position: absolute;
    background-position: center center;
    background-size: cover;
    opacity: 5%;
    /* top: 30%; */
    right: 0;
}


/* header */

.wrap_hayday .navbar {
    box-shadow: none;
}

.wrap_hayday .container-fluid {
    min-height: 100vh;
}

.wrap_hayday nav .nav-link {
    padding-right: 15px !important;
    padding-left: 15px !important;
    color: #fff;
    font-family: 'Baloo Bhai', cursive;
}

.wrap_hayday .border_deco {
    border-bottom: .25px solid #fff;
}

.wrap_hayday nav .nav-link:hover {
    color: #FF0000;
    transition-duration: 0.5s;
}

.wrap_hayday .navbar {
    padding: 40px;
    padding-bottom: 0;
}


/* header */


/* middle body */

.wrap_hayday .middle_body_height {
    height: 50vh;
}

.wrap_hayday .middle_body {
    text-align: center;
}

.wrap_hayday .middle_body .logo img {
    height: 100px;
}

.wrap_hayday .others_page_middle {
    text-align: center;
    position: absolute;
    right: 30px;
    bottom: 0;
}

.wrap_hayday .others_page_middle img {
    height: 70px;
}


/* middle body */


/* footer-body */

.myprogress {
    min-width: 100%;
    margin: 0px auto;
    text-align: center;
}

.myprogress .circle {
    display: inline-block;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 80px;
    border: 1px solid #d5d5da;
    cursor: pointer;
}

.myprogress .circle:hover {
    background: #FF0000;
    color: #5407A1;
    transition-duration: 0.5s;
}

.myprogress .bar {
    position: relative;
    width: 100px;
    padding-right: 15px;
    font-family: none;
}

.myprogress .circle .label {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 30px;
    border-radius: 40px;
    font-size: 24px;
}

.myprogress .circle .title {
    color: #5407A1;
    font-size: 24px;
    line-height: 50px;
    cursor: pointer;
}

.myprogress .circle .title:hover {
    color: #fff;
}

.myprogress i {
    font-size: 11px;
}

.abc {
    animation: pulse 1s infinite;
    color: #FF0000;
}

.pulse {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 5;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    /* background: white; */
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.slider::before,
.slider::after {
    /* background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0))); */
    /* background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%); */
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: -webkit-box;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    /* height: 100px; */
    /* width: 200px; */
    padding-right: 40px;
}


/* footer-body */


/* about hayday */

.accordion .card-header {
    padding: 0;
    background: #5407A1;
    margin-bottom: 0;
}

.accordion .card-header .btn-link {
    color: #fff;
    padding: 0;
}

.accordion .card {
    border: none;
    border-radius: 0;
}

.accordion i {
    position: absolute;
    right: 10px;
    top: 5px;
}

.accordion p {
    color: #000;
    font-family: serif;
    font-size: 15px;
}

.accordion h4 {
    color: #000;
    font-family: serif;
    font-weight: 700 !important;
    font-size: 22px;
}


/* about hayday */


/* work with us */

.outreach table.table th,
table.table td {
    padding: 3px 20px;
    color: #fff;
    border: none;
    font-family: auto;
}


/* work with us */


/* team */

.team .grid {
    padding-left: 0;
    padding-right: 0;
}

.team .team_image {
    background-image: url(../img/team/team-back.jpg);
    height: 600px;
    background-position: center center;
    background-size: cover;
}

.team .custom_hr {
    border-top: 3px solid #fff !important;
    width: 10% !important;
}

.team img {
    border-radius: 50%;
    margin: auto;
    border: 3px solid #dcdcdc;
}

.team .team_managemt img {
    height: 300px;
    width: 300px;
}

.team .team_volounteer img {
    height: 200px;
    width: 200px;
}

.team .wrap_team {
    display: flex;
    flex-direction: column;
    font-family: auto;
}


/* team */

.sponsor_footer p {
    font-family: auto;
    font-size: 14px;
}

.sponsor_footer p b {
    color: #FF0000;
}


/* events */

.event_wrap .title {
    font-family: auto;
}

.event_wrap .subtitle {
    font-family: auto;
}

.wrap_event {
    color: #000;
    text-align: center;
    position: relative;
}

.slider_wrap img {
    background-image: url(../img/team/team-back.jpg);
    height: 320px;
    background-position: center center;
    background-size: cover;
}


/* calender */


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.clearfix::after,
.calendar ol::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* ================
Calendar Styling */

.calendar {
    border-radius: 10px;
    font-family: auto;
}

.calendar .target_date {
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50%;
    left: -6px;
    top: 1px;
    background: #fff;
    opacity: 0.3;
}

.month {
    font-size: 2rem;
}

.calendar ol li {
    float: left;
    width: 14.28571%;
}

.calendar .day-names {
    border-bottom: 1px solid #eee;
}

.calendar .day-names li {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.calendar .days li {
    border-bottom: 1px solid #eee;
    /* min-height: 8rem; */
}

.calendar .days li .date {
    margin: 0.25rem 0;
}

.calendar .days li .event {
    font-size: 0.75rem;
    padding: 0.4rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4rem;
    margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
    width: 200%;
}

.calendar .days li .event.begin {
    border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
    border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
    background: none;
}

.calendar .days li:nth-child(n+29) {
    border-bottom: none;
}

.calendar .days li.outside .date {
    color: #ddd;
}


/* calender */


/* timer */

#timer div {
    display: inline-block;
    line-height: 1;
    padding: 20px 40px 0 0;
    padding-bottom: 0;
    font-family: auto;
}

#timer span {
    display: block;
    font-size: 20px;
    color: white;
}

#timer #days,
#timer #hours,
#timer #minutes,
#timer #seconds {
    font-size: 50px;
}

#timer #seconds {
    font-size: 30px;
}


/* timer */


/* events */


/* media query */

@media (min-width: 1367px) {
    .sponsor_footer p {
        font-size: 18px;
        margin-top: 40px;
    }
    .outreach table.table th,
    table.table td,
    .accordion p,
    .myprogress .bar {
        font-size: 18px;
    }
    .outreach h4 {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .accordion .card-header .btn-link {
        font-size: 22px;
    }
    .accordion {
        margin-top: 30px;
    }
    .wrap_hayday .middle_body .logo img {
        height: 145px;
    }
    .wrap_hayday .middle_body p {
        font-size: 22px;
    }
    .wrap_hayday .step_command {
        font-family: auto;
        font-size: 22px;
    }
}

@media (max-width: 567px) {
    .wrap_hayday .navbar {
        padding: 20px 0 0;
    }
    .fa-bars {
        color: #fff;
    }
    .wrap_hayday .middle_body .logo img {
        height: 140px;
        margin-bottom: 28px;
    }
    .back_img {
        height: 150px;
        width: 200px;
    }
    .wrap_hayday .middle_body_height {
        height: 35vh;
    }
    .myprogress .circle {
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .myprogress .bar {
        padding-right: 0;
        font-family: none;
        font-size: 18px;
    }
    .team .team_image {
        height: 200px;
    }
    .team .custom_hr {
        width: 50% !important;
    }
    .team .team_managemt img {
        height: 150px;
        width: 150px;
    }
    .team .team_volounteer img {
        height: 120px;
        width: 120px;
    }
    .team .card-title {
        font-size: 26px;
    }
    .team .wrap_team {
        margin-bottom: 30px;
    }
    .sponsor_footer p {
        margin-bottom: 20px !important;
    }
    .calendar {
        padding-left: 0 !important;
        margin-top: 30px;
    }
    .event_wrap .title {
        font-size: 22px;
    }
    .event_wrap button {
        margin-bottom: 40px !important;
    }
    #timer #days,
    #timer #hours,
    #timer #minutes,
    #timer #seconds {
        font-size: 35px;
        margin: auto;
    }
    #timer span {
        font-size: 14px;
    }
    #timer div {
        padding: 0px 26px 0 0;
    }
    #timer {
        background: #8500ff82;
        display: flex;
        padding: 20px;
    }
    .classroom img {
        width: 150px;
    }
}