body {
    padding: 0;
    margin: 0;
    background: #5407A1;
    color: #fff !important;
    font-family: 'Baloo Bhai', cursive;
    position: relative;
}


/* global */

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}


/* global */

.back_img {
    background-image: url(../img/back.png);
    height: 350px;
    width: 600px;
    position: absolute;
    background-position: center center;
    background-size: cover;
    opacity: 5%;
    /* top: 30%; */
    right: 0;
}


/* header */

.wrap_hayday .navbar {
    box-shadow: none;
}

.wrap_hayday .container-fluid {
    min-height: 100vh;
}

.wrap_hayday nav .nav-link {
    padding-right: 15px !important;
    padding-left: 15px !important;
    color: #fff;
    font-family: 'Baloo Bhai', cursive;
}

.wrap_hayday .border_deco {
    border-bottom: .25px solid #fff;
}

.wrap_hayday nav .nav-link:hover {
    color: #FF0000;
    transition-duration: 0.5s;
}

.wrap_hayday .navbar {
    padding: 40px;
    padding-bottom: 0;
}


/* header */


/* middle body */

.wrap_hayday .middle_body {
    text-align: center;
}

.wrap_hayday .middle_body .logo img {
    height: 100px;
}

.wrap_hayday .others_page_middle {
    text-align: center;
    position: absolute;
    right: 30px;
    bottom: 0;
}

.wrap_hayday .others_page_middle img {
    height: 70px;
}


/* middle body */


/* footer-body */

.myprogress {
    min-width: 100%;
    margin: 0px auto;
    text-align: center;
}

.myprogress .circle {
    display: inline-block;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 80px;
    border: 1px solid #d5d5da;
    cursor: pointer;
}

.myprogress .circle:hover {
    background: #FF0000;
    color: #5407A1;
    transition-duration: 0.5s;
}

.myprogress .bar {
    position: relative;
    width: 100px;
    padding-right: 15px;
    font-family: none;
    /* height: 2px; */
    /* top: 10px; */
    /* border: 0px solid #fff; */
}

.myprogress .circle .label {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 30px;
    border-radius: 40px;
    font-size: 24px;
}

.myprogress .circle .title {
    color: #5407A1;
    font-size: 24px;
    line-height: 50px;
    cursor: pointer;
}

.myprogress .circle .title:hover {
    color: #fff;
}

.myprogress i {
    font-size: 11px;
}

.myprogress .abc {
    animation: pulse 1s infinite;
    color: #FF0000;
}

.myprogress .pulse {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 5;
}


/* footer-body */


/* about hayday */

.accordion .card-header {
    padding: 0;
    background: #5407A1;
    margin-bottom: 0;
}

.accordion .card-header .btn-link {
    color: #fff;
    padding: 0;
}

.accordion .card {
    border: none;
    border-radius: 0;
}

.accordion i {
    position: absolute;
    right: 10px;
    top: 5px;
}

.accordion p {
    color: #000;
    font-family: serif;
    font-size: 15px;
}

.accordion h4 {
    color: #000;
    font-family: serif;
    font-weight: 700 !important;
    font-size: 22px;
}


/* about hayday */


/* work with us */

.outreach table.table th,
table.table td {
    padding: 3px 20px;
    color: #fff;
    border: none;
    font-family: auto;
}


/* work with us */


/* team */

.team .grid {
    padding-left: 0;
    padding-right: 0;
}

.team .team_image {
    background-image: url(../img/team/team-back.jpg);
    height: 600px;
    background-position: center center;
    background-size: cover;
}

.team .custom_hr {
    border-top: 3px solid #fff !important;
    width: 10% !important;
}

.team img {
    border-radius: 50%;
    margin: auto;
    border: 3px solid #dcdcdc;
}

.team .team_managemt img {
    height: 300px;
    width: 300px;
}

.team .team_volounteer img {
    height: 200px;
    width: 200px;
}

.team .wrap_team {
    display: flex;
    flex-direction: column;
    font-family: auto;
}


/* team */

.sponsor_footer p {
    font-family: auto;
    font-size: 14px;
}

.sponsor_footer p b {
    color: #FF0000;
}


/* media query */

@media (min-width: 1367px) {
    .sponsor_footer p {
        font-size: 18px;
        margin-top: 40px;
    }
    .outreach table.table th,
    table.table td,
    .accordion p,
    .myprogress .bar {
        font-size: 18px;
    }
    .outreach h4 {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .accordion .card-header .btn-link {
        font-size: 22px;
    }
    .accordion {
        margin-top: 30px;
    }
    .wrap_hayday .middle_body .logo img {
        height: 145px;
    }
    .wrap_hayday .middle_body p {
        font-size: 22px;
    }
    .wrap_hayday .step_command {
        font-family: auto;
        font-size: 22px;
    }
}

@media (max-width: 567px) {
    .wrap_hayday .navbar {
        padding: 20px 0 0;
    }
    .navbar-toggler-icon {
        background: #fff;
    }
    .wrap_hayday .middle_body .logo img {
        height: 200px;
    }
}