body {
    padding: 0;
    margin: 0;
    background: #5407A1 !important;
    color: #fff !important;
    font-family: 'Baloo Bhai', cursive;
    position: relative;
}


/* global */

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}


/* global */

.back_img {
    background-image: url(../img/back.png);
    height: 350px;
    width: 600px;
    position: absolute;
    background-position: center center;
    background-size: cover;
    opacity: 5%;
    /* top: 30%; */
    right: 0;
}


/* header */

.wrap_hayday .navbar {
    box-shadow: none;
}

.wrap_hayday .container-fluid {
    min-height: 100vh;
}

.wrap_hayday nav .nav-link {
    padding-right: 15px !important;
    padding-left: 15px !important;
    color: #fff;
    font-family: 'Baloo Bhai', cursive;
}

.wrap_hayday .border_deco {
    border-bottom: .25px solid #fff;
}

.wrap_hayday nav .nav-link:hover {
    color: #FF0000;
    transition-duration: 0.5s;
}

.wrap_hayday .navbar {
    padding: 40px;
    padding-bottom: 0;
}


/* header */


/* middle body */

.wrap_hayday .middle_body {
    text-align: center;
}

.wrap_hayday .middle_body .logo img {
    /* background-image: url(logo.png); */
    height: 100px;
}

.wrap_hayday .others_page_middle {
    text-align: center;
    position: absolute;
    right: 30px;
    bottom: 0;
}

.wrap_hayday .others_page_middle img {
    height: 70px;
}


/* middle body */


/* footer-body */

.myprogress {
    min-width: 100%;
    margin: 0px auto;
    text-align: center;
}

.myprogress .circle {
    display: inline-block;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 80px;
    border: 1px solid #d5d5da;
    cursor: pointer;
}

.myprogress .circle:hover {
    background: #FF0000;
    color: #5407A1;
    transition-duration: 0.5s;
}

.myprogress .bar {
    position: relative;
    width: 100px;
    padding-right: 15px;
    font-family: none;
    /* height: 2px; */
    /* top: 10px; */
    /* border: 0px solid #fff; */
}

.myprogress .circle .label {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 30px;
    border-radius: 40px;
    font-size: 24px;
}

.myprogress .circle .title {
    color: #5407A1;
    font-size: 24px;
    line-height: 50px;
    cursor: pointer;
}

.myprogress .circle .title:hover {
    color: #fff;
}

.myprogress i {
    font-size: 11px;
}

.myprogress .abc {
    animation: pulse 1s infinite;
    color: #FF0000;
}

.myprogress .pulse {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 5;
}


/* footer-body */


/* about hayday */

.accordion .card-header {
    padding: 0;
    background: #5407A1;
    margin-bottom: 0;
}

.accordion .card-header .btn-link {
    color: #fff;
    padding: 0;
}

.accordion .card {
    border: none;
    border-radius: 0;
}

.accordion i {
    position: absolute;
    right: 10px;
    top: 5px;
}

.accordion p {
    color: #000;
    font-family: serif;
    font-size: 15px;
}

.accordion h4 {
    color: #000;
    font-family: serif;
    font-weight: 700 !important;
    font-size: 22px;
}


/* about hayday */


/* work with us */

.outreach table.table th,
table.table td {
    padding: 3px 20px;
    color: #fff;
    border: none;
    font-family: auto;
}


/* work with us */


/* team */

.team .team_image {
    background-image: url(../img/team/team-back.jpg);
    height: 600px;
    background-position: center center;
    background-size: cover;
}

.team_deco .team_member_image {
    background-image: url(../img/team/management/imran.jpg);
    height: 200px;
    /* background-position: center center; */
    background-size: cover;
}

.team_deco p,
.team_deco h3 {
    font-family: auto;
}


/* .team_deco .grid {
    padding-left: 0;
    padding-right: 0;
} */


/* .team_deco .card {
    border-radius: 0;
    border: 0;
} */

.team_deco .card-body {
    color: #fff;
    font-style: auto;
}


/* .team_deco .card-footer {
    padding: 0 18px;
} */


/* .team_deco p {
    margin-bottom: 0;
} */

.team_deco ul {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    color: #000;
    list-style-type: none;
}

.team_deco ul li {
    padding-right: 20px;
}


/* team */

.sponsor_footer p {
    font-family: auto;
    font-size: 14px;
}

.sponsor_footer p b {
    color: #FF0000;
}